<div class="row">

    <div class="col-md-6">
        <form (submit)=addIngredient()>
            Ingredient:<input type="text" [(ngModel)]="ingredient.name" name="ingredient">
            Amount:<input type="text" [(ngModel)]="ingredient.amount" name="amount">
            <input type="submit" class="btn btn-primary">
        </form>
    </div>
    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr>
                    <th>Ingredient</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ingredient of recipe.ingredients">
                    <td scope="row">{{ingredient.name}}</td>
                    <td>{{ingredient.amount}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <form (submit)="viewRecipe()">
        <button type="submit"  class="btn btn-primary">View Recipe</button>
    </form>

</div>